* {
	box-sizing: border-box;
}
body {
	background-color: antiquewhite;
	font-family: "Courier New", Courier, monospace;
	/* font-size: medium; */
	margin: 0px;
	padding: 0%;
}
.dimension {
	width: 400px;
	background-color: #333;
	margin: 0;
}
.screen {
	display: flex;
	align-items: flex-end;
}
.screen-output {
	background-color: #333;
	font-size: 2em;
	color: aliceblue;
	align-items: stretch;
	flex: 1;
	text-align: end;
	resize: none;
	min-width: -moz-available;
	border-style: none;
}
::placeholder {
	color: aliceblue;
	opacity: 1;
}
/* Rows */
.c-row {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
}
.seven-row {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
}
.four-row {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
}
.one-row {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
}
.zero-row {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
}
button {
	background-color: #d8d9db;
	color: black;
	border-style: none;
	border: 1px solid black;
	height: 2em;
	flex: 1;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	cursor: pointer;
}
button:hover {
	background-color: #ebebeb;
}
button:active {
	background-color: #a5a5a5;
}
button:last-child {
	background-color: #df974c;
	color: white;
}
button:last-child:hover {
	background-color: #dfb07e;
	color: black;
}
button:last-child:active {
	background-color: #fc8e19;
}
.c {
	flex: 2.11;
}
.zero {
	flex: 3.22;
}
